/* Add your CSS here */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-color: rgb(201, 212, 218);
}
.timelineCards h2,h3{
  display:flex;
  align-items: center;
  text-align:center;
  font-size:large;
  padding:10px;
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(27, 95, 61) 6%, rgb(110, 202, 249) 92%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0D0D0C", endColorstr="#111312", GradientType=1 );
}

p{
  display:flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: row wrap;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 20px;
}

.hero{
  display:flex;
  flex-flow:column wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 40px;
  font-size: medium;
  font-family: 'Roboto Mono', monospace;
  color: rgb(255, 255, 255);
  background: linear-gradient(0deg, hsla(60, 4%, 5%, 1) 0%, hsla(150, 6%, 7%, 1) 6%, rgb(110, 202, 249) 92%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0D0D0C", endColorstr="#111312", GradientType=1 );
  transition: font-size 0.2s ease-in-out;
}
.hero:hover{
  font-size: 20px;
}

img{
  max-width: 25%;
  max-height: 25%;
}

.timelineCards{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row nowrap;
  overflow-x: auto;
  gap: 0px;
  max-width: 870px;
  margin:0 auto;
  border-radius: 10px;
}


.timelineCards img{
  display:block;
  align-content: flex-start;
  align-self: center;
  width:250px;
  height:250px;
  max-width: 200px;
  max-height: 15vw;
  border-radius: 20px;
  object-fit: cover;
  
}

.card{
  position: relative;
  display: flex;
  flex-flow:column nowrap;
  margin-bottom: 25px;
  padding-bottom: 10px;
  background-color: rgb(201, 212, 218);
}
.card p{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  font-size: medium;
  top: 0;
  bottom: 0;
  right:0;
  left:0;
  padding: 0 12px;
  color:rgb(255, 255, 255);
  background: linear-gradient(0deg, hsla(60, 4%, 5%, 1) 0%, hsla(150, 6%, 7%, 1) 6%, rgb(110, 202, 249) 92%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0D0D0C", endColorstr="#111312", GradientType=1 );
  border-radius: 10px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card p:hover{
  opacity: 100%;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
a{
  color:rgb(215, 215, 215);
}
a:hover{
  color:rgba(181, 181, 181, 0.832);
}
a:visited{
  color:rgba(189, 174, 255, 0.832)
}
#formh2{
  text-align: center;
  padding:20px;
}
.form{
  background: linear-gradient(0deg, rgb(146, 146, 146) 0%, rgb(166, 183, 175) 6%, rgb(110, 202, 249) 92%);
  padding:20px;
  border-radius: 10px;
}

footer{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 600px){
  .hero{
    text-align: center;
    display:flex;
    align-items: center;
    flex-flow:wrap;
  }

  .timelineCards{
    display:flex;
    flex-flow:row wrap;
  }
  .timelineCards p{
    font-size:90%;
  }
  .form{
    display:flex;
    align-items: center;
    flex-flow:column wrap;
  }
  .form-control{
    max-width: fit-content;
  }
}